// start header style
.header-height-fix {
  height: 7.3rem;

  @include desktop {
    height: 6.625rem;
  }

  @include tablet {
    height: 5.25rem;
  }
  // @include mobile-xs {
  //   height: 7.93rem;
  // }
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: $white;
  padding: 1.2rem 0;
  transition: .15s ease-out;

  @include tablet {
    padding: 1.25rem 0;
  }
  // @include mobile-xs {
  //   padding: 0.625rem 0;
  // }

  &.header-sticky-top {
    padding: 1.06rem 0;
    box-shadow: 0px 0.25rem 1.125rem 0 rgba(32, 45, 73, 0.02);
    @include desktop {
      padding: 10px 0px 0.625rem 0px;
    }
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar-brand {
    @include desktop-lg {
      width: 145px;
      padding: 0px !important;
    }

    // @include mobile-xs {
    //   width: 100%;
    //   margin: 0;
    //   margin-bottom: 0.625rem;
    //   text-align: center;
    // }
  }

  .navbar-light .navbar-toggler {
    border: 0;
    padding: 0;
    font-size: 2.25rem;
    transition: .3s ease;
    border-color: transparent;
    color: lighten($black, 13.33);

    @include tablet {
      font-size: 2rem;
    }

    &:hover {
      color: $primary-color;
    }
  }

  // @include mobile-xs {
  //   .nav-controller {
  //     width: 100%;
  //     justify-content: space-between;
  //     align-items: flex-end !important;
  //   }
  // }

  .nav-item {
    .nav-link {
      font-weight: 500;
      font-size: 1rem;
      color: lighten($black, 13.33) !important;
      padding: 0.9rem 1.06rem !important;

      @include desktop-xl {
        font-size: 0.9rem;
        padding: 0.9rem 0.625rem !important;
      }
    }

    .nav-link:hover,
    &.active .nav-link {
      color: $primary-color !important
    }
    &.dropdown .nav-link::after {
      display: inline-block;
      vertical-align: .255em;
      content: "";
      height: 0.56rem;
      width: 0.56rem;
      border: 2px solid;
      border-left: 0;
      border-top: 0;
      border-color: inherit;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: 0s;
    }
  }

  .dropdown-menu {
    border: 0;
    padding: 0 0.625rem;
    border-radius: 0.375rem;
    background-color: rgba($primary-color, 0.05);
    border: 1px solid rgba($primary-color, 0.05);

    li {
      &:first-child {
        margin-top: 0.75rem
      }

      &:last-child {
        margin-bottom: 0.75rem
      }
    }

    .dropdown-item {
      padding: 0.5rem 0.9rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: lighten($black, 13.33);
      border-radius: 0.375rem;

      &:focus,
      &:hover,
      &:active {
        color: $primary-color;
        background-color: rgba($primary-color, 0.07);
      }
      
      &.active {
        color: $primary-color;
        background-color: transparent;
        &:focus,
        &:hover,
        &:active {
          background-color: rgba($primary-color, 0.07);
        }
      }
    }
  }

  @media (min-width:991px) {
    .dropdown-menu {
      display: block;
      visibility: hidden;
      width: 13.75rem;
      left: 50%;
      transform: translate(-50%, -6px);
      z-index: 1;
      border: 0;
      background-color: transparent;
      &::after {
        position: absolute;
        content: "";
        height: 0;
        width: 100%;
        top: 0;
        left: 0;
        background-color: $white;
        z-index: -1;
        border-radius: 0.375rem;
        transition: 0.15s;
        border: 1px solid rgba($primary-color, 0.3);
        box-shadow: 0 0.9rem 1.56rem rgba($black, 0.1);
      }
      li {
        transform: translateY(1.25rem);
        opacity: 0;
        transition: .1s;
      }
    }

    .dropdown:hover .dropdown-menu {
      visibility: visible;
      height: 0;
      &::after {
        transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        height: 100%;
      }
      li {
        opacity: 1;
        transform: translateY(0);
        transition: .4s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
      $base-time: 0.05;
      $max-menu-item: 12;
      @for $i from 1 through $max-menu-item {
        li:nth-child(#{$i}) {
          transition-delay: $i*$base-time+s;
        }
      }
    }
  }

  @include desktop {
    .navbar-nav {
      max-width: 18.75rem;
      max-height: 25rem;
      overflow-y: auto;
      text-align: center;
      padding-top: 1.8rem;
    }

    .navbar-right {
      text-align: center;
      margin-top: 5px;
      padding-bottom: 0.625rem;

      select {
        margin-bottom: 0.9rem;
      }
    }

    .dropdown-menu {
      padding: 1px 0.9rem;
      text-align: center;
      height: initial !important;
    }

    .nav-item .nav-link {
      padding: 0.31rem 1.25rem !important;
    }
  }
}