{{ define "main" }}

{{with .Params.banner}}
<section class="banner">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12 position-relative">
        <div class="block row justify-content-center no-gutters align-items-center text-center text-lg-left">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="px-0 px-md-5 px-lg-0">
              <h2 class="mb-4">{{.title | markdownify}}</h2>
              <p>{{.content | markdownify}}</p>
              {{if .book_a_demo_button}}
              {{ partial "components/book-a-demo" }}
              {{end}}
            </div>
          </div>
          <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            {{ partial "images/image" (dict "Src" .image "Alt" .title) }}
          </div>
        </div>

        <div class="has-circle"></div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{with site.GetPage "/"}}
{{with .Params.brands_carousel}}
{{if .enable}}
<section class="overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-12" data-aos="fade-left">
        <div class="section-title text-center" data-aos="fade-in">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2>{{.title | markdownify}}</h2>
        </div>
        <div class="brand-carousel swiper-container">
          <div class="swiper-wrapper">
            {{range .brand_images}}
            {{ if fileExists (add `assets/` .) }}
            <div class="swiper-slide">
              <div class="brand-item">
                {{$img:= resources.Get . }}
                {{$img_width := $img.Width }}

                {{$img_orginal := add (add (string $img_width) "x") " " }}
                {{$img_src := ($img.Resize $img_orginal).RelPermalink }}

                {{$imgWebp := add (add (string $img_width) "x") " webp" }}
                {{$imgWebp_src := ($img.Resize $imgWebp).RelPermalink }}
                <img loading="lazy" decoding="async" class="img-fluid" width="{{$img_width}}" height="{{$img.Height}}"
                  src="{{$imgWebp_src}}" alt="Brand Image" onerror="this.onerror=null;this.src='{{$img_src}}'">
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
{{end}}

{{with .Params.detect_dark_web_leakage}}
{{if .enable}}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="px-0 px-md-5 px-lg-0">
          <h2 class="mb-4">{{.title | markdownify}}</h2>
          <div class="content">{{.content | markdownify}}</div>
        </div>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        {{ partial "images/image" (dict "Src" .image "Alt" .title) }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.prevent_cybercrime}}
{{if .enable}}
<section class="section has-bg">
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto" data-aos="fade-up">
        <h2 class="mb-4">{{.title | markdownify}}</h2>
        <div class="content">{{.content | markdownify}}</div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{range $i, $e := .prevent_points}}
      <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="{{mul $i 100}}">
        <div class="office-loc-item bg-white">
          <span class="d-block h1 mb-3 pt-2"><i class="{{.icon}}"></i></span>
          <h3 class="h5">{{.title | markdownify}}</h3>
        </div>
      </div>
      {{end}}
      <div class="text-center col-12 mt-5" data-aos="fade-up" data-aos-delay="500">
        {{ partial "components/book-a-demo" }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with site.GetPage "/"}}
{{with .Params.testimonials}}
{{if .enable}}
<section class="section testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center" data-aos="fade-up">
          <h2 class="title pb-2">{{.title | markdownify}}</h2>
        </div>
      </div>
    </div>

    <div class="row justify-content-center align-items-center no-gutters testimonial-carousel">
      {{range .testimonials_quotes}}
      <div class="col-lg-4 col-md-6" data-aos="fade-up">
        <div class="block text-center">
          <i class="quote-icon las la-quote-left"></i>
          <p class="quote-text mb-0">{{.quote}}</p>
          <span class="author">
            <h5>{{.name | markdownify}}</h5>
            <p>{{.designation | markdownify}}</p>
            {{ partial "images/image" (dict "Src" .image "Alt" .designation "Size" "150x" "Class" "mt-3")}}
          </span>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.check_my_exposure}}
{{if .enable}}
<section class="banner">
  <div class="container-xxl">
    <div class="row text-center">
      <div class="col-12">
        <div class="block row justify-content-center no-gutters" data-aos="fade-up">
          <div class="col-lg-10 px-0 px-xl-4">
            <h2 class="mb-4" data-aos="fade-up">{{.title | markdownify}}</h2>
	          <div class="content">
              <form action="/check-your-exposure" method="GET" class="needs-validation" novalidate>
                <div class="form-group mb-4">
                  <input class="form-control shadow-none w-50" style="display:block; margin : 0 auto; background-color: #ffffff" id="domain" name="domain" type="domain" placeholder="Domain Name" required>
                  <p class="font-weight-bold invalid-feedback"></p>
                  <button class="btn btn-primary w-50 mt-4" type="submit" aria-label="Search">Check My Exposure</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="has-circle"></div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
{{end}}

{{with .Params.what_is_dark_web_monitoring}}
{{if .enable}}
<section class="section">
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto" data-aos="fade-up">
        <h2 class="mb-4">{{.title | markdownify}}</h2>
        <div class="content">{{.content | markdownify}}</div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.why_dark_web_monitoring_important}}
{{if .enable}}
<section class="section has-bg features overflow-hidden">
  <div class="container">
    <div class="section-title text-center" data-aos="fade-up">
      <h2>{{.title | markdownify}}</h2>
    </div>
    {{with .topics}}
    <div class="row">
      {{ range $i, $e := . }}
      <div class="col-lg-4 col-md-6 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="{{mul (add $i 1) 100}}">
        <div class="features-card bg-white h-100">
          <div class="icon text-primary">
            <i class="{{.icon}}"></i>
          </div>
          <h3 class="title" style="font-size: 2.3rem;">{{.count_prefix}}<span class="counter">{{.count_number}}</span>{{.count_suffix}}</h3>
          <p class="mb-0 px-xl-4">{{.content | markdownify}}</p>
        </div>
      </div>
      {{ end }}
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{end}}

{{with .Params.how_dark_web_monitoring_work}}
{{if .enable}}
<section class="section">
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto" data-aos="fade-up">
        <h2 class="mb-4">{{.title | markdownify}}</h2>
        <div class="content">{{.content | markdownify}}</div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{range $i, $e := .info_list}}
      <div class="col-lg col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="{{mul $i 100}}">
        <div class="office-loc-item bg-white">
          <span class="d-block h1 mb-3 pt-2"><i class="{{.icon}}"></i></span>
          <h3 class="h5">{{.title | markdownify}}</h3>
        </div>
      </div>
      {{end}}
      <div class="text-center col-12 mt-5" data-aos="fade-up" data-aos-delay="500">
        {{ partial "components/book-a-demo" }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{ with site.GetPage "/"}}
{{with .Params.breachsense_is_for}}
{{if .enable}}
<section class="section has-bg">
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto" data-aos="fade-up">
        <h2 class="mb-4">{{.title | markdownify}}</h2>
        <div class="content">{{.content | markdownify}}</div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{range $i, $e := .info_list}}
      <div class="col-lg col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="{{mul $i 100}}">
        <div class="office-loc-item bg-white">
          <span class="d-block h1 mb-3 pt-2"><i class="{{.icon}}"></i></span>
          <h3 class="h5">{{.title | markdownify}}</h3>
        </div>
      </div>
      {{end}}
      <div class="text-center col-12 mt-5" data-aos="fade-up" data-aos-delay="500">
        {{ partial "components/book-a-demo" }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
{{end}}

{{with .Params.faq}}
{{if .enable}}
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="section-title text-center mb-5" data-aos="fade-in">
          <h2>{{.title | markdownify}}</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-12">
        <div class="row">
          {{range .faq_items}}
          <div class="col-md-6 mb-4 pb-2">
            <div class="faq-item h-100">
              <h3 class="h4">{{.question | markdownify}}</h3>
              <p>{{.answer | markdownify}}</p>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.CTA}}
<section class="call-to-action has-bg-color overflow-hidden">
  <div class="container position-relative">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="section-title text-center mb-0" data-aos="fade-up">
            <h2 class="title underline-none">{{.title | markdownify}}</h2>

            <a class="btn btn-primary" href="#book-a-demo">Book a Demo</a>
          </div>
        </div>

        <div class="has-circle has-bg-anim" data-aos="fade-in"></div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{ end }}
