{{define "main"}}

{{with .Params.prevent_cybercrime2}}
{{if .enable}}
<section class="section has-bg">
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto" data-aos="fade-up">
        <h1 class="mb-4">{{.title | markdownify}}</h1>
        <div class="content text-left">{{.content | markdownify}}</div>
      </div>
    </div>
    <div class="row">
      <div class="text-center col mt-5" data-aos="fade-up" data-aos-delay="500">
        {{ partial "components/book-a-demo" }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.what_is_breachsense}}
{{if .enable}}
<section class="section">
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto" data-aos="fade-up">
        <h2 class="mb-4">{{.title | markdownify}}</h2>
        <div class="content text-left">{{.content | markdownify}}</div>
      </div>
    </div>
    <div class="row">
      {{range $i, $e := .prevent_points}}
      <div class="col-lg-3 col-md-6 col-sm-6" data-aos="fade-up" data-aos-delay="{{mul $i 100}}">
        <div class="office-loc-item bg-white">
          <span class="d-block h1 mb-3 pt-2"><i class="{{.icon}}"></i></span>
          <h3 class="h5">{{.title | markdownify}}</h3>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.how_it_works}}
{{if .enable}}
<section class="section has-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <div class="px-0 px-md-5 px-lg-0">
          <h2 class="mb-4">{{.title | markdownify}}</h2>
          <div class="content">{{.content | markdownify}}</div>
        </div>
      </div>
      <div class="col-lg-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
        {{ partial "images/image" (dict "Src" .image "Alt" .title) }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.potential_effects}}
{{if .enable}}
<section class="section">
  <div class="container text-center">
    <div class="row mb-4">
      <div class="col-lg-8 mx-auto" data-aos="fade-up">
        <h2 class="mb-4">{{.title | markdownify}}</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      {{range $i, $e := .info_list}}
      <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="{{mul $i 100}}">
        <div class="office-loc-item py-5 bg-white shadow-none border-primary-light border">
          <span class="icon-box d-block text-primary mb-4">
            <i class="{{.icon}}"></i>
          </span>
          <h3 class="h4">{{.title | markdownify}}</h3>
          <div class="content">{{.content | markdownify}}</div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.testimonials}}
{{if .enable}}
<section class="section testimonials has-bg text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center" data-aos="fade-up">
          <h2 class="title pb-2">{{.title | markdownify}}</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {{range $i, $e := .info_list}}
      <div class="col-lg col-md-4 col-sm-6" data-aos="fade-up" data-aos-delay="{{mul $i 100}}">
        <div class="office-loc-item bg-white">
          <span class="d-block h1 mb-3 pt-2"><i class="{{.icon}}"></i></span>
          <h3 class="h5">{{.title | markdownify}}</h3>
        </div>
      </div>
      {{end}}
    </div>

    <div class="row justify-content-center align-items-center no-gutters testimonial-carousel">
      {{range .testimonials_quotes}}
      <div class="col-lg-4 col-md-6" data-aos="fade-up">
        <div class="block text-center">
          <i class="quote-icon las la-quote-left"></i>
          <p class="quote-text mb-0">{{.quote}}</p>
          <span class="author">
            <h5>{{.name | markdownify}}</h5>
            <p>{{.designation | markdownify}}</p>
            {{ partial "images/image" (dict "Src" .image "Alt" .designation "Size" "150x" "Class" "mt-3")}}
          </span>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{end}}
