{{define "main"}}

{{with .Params.banner}}
<section class="banner">
  <div class="container-xxl">
    <div class="row text-center">
      <div class="col-12">
        <div class="block row justify-content-center no-gutters" data-aos="fade-up">
          <div class="col-lg-10 px-0 px-xl-4" data-rellax-speed="-3">
            <h1 class="mb-4" data-aos="fade-up">{{.title | markdownify}}</h1>
            <p>{{.description | markdownify}}</p>
	    <div class="content">
              <form action="/search" method="GET" class="needs-validation" novalidate>
                <div class="form-group mb-4">
                  <input class="form-control shadow-none w-50" style="display:block; margin : 0 auto; background-color: #ffffff" id="domain" name="domain" type="domain" placeholder="Domain Name" required>
                  <p class="font-weight-bold invalid-feedback"></p>
                  <button class="btn btn-primary w-50 mt-4" type="submit" aria-label="Search">Never get burned by stolen credentials again</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="has-circle">
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{with .Params.features}}
{{if .enable}}
<section class="section features overflow-hidden">
  <div class="container">
    {{with .features_blocks}}
    <div class="row">
      <div class="col-lg-12" data-aos="fade-left" data-aos-delay="200">
        <div class="features-carousel row">
          {{range .}}
          <div class="col-lg-4 col-md-6">
            <div class="features-card">
              <div class="icon text-primary">
                <i class="{{.icon}}"></i>
              </div>
              <h3 class="title">{{.title | markdownify}}</h3>
              <p class="mb-0">{{.content | markdownify}}</p>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    {{end}}
  </div>
</section>
{{end}}
{{end}}

{{with .Params.stats}}
{{if .enable}}
<section class="section-sm mb-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10">
        <div class="section-title text-center mb-0" data-aos="fade-in">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2>{{.title | markdownify}}</h2>
          <p>{{.description | markdownify}}</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="row">
          {{range .specific_stat}}
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="office-loc-item">
              <h3>{{.size | markdownify}}</h3>
              <p>{{.resource_line_one | markdownify}}</p>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{with .Params.brands_carousel}}
{{if .enable}}
<section class="overflow-hidden">
  <div class="container">
    <div class="row">
      <div class="col-md-12" data-aos="fade-left">
        <div class="section-title text-center" data-aos="fade-in">
          <p class="text-uppercase">{{.subtitle | markdownify}}</p>
          <h2>{{.title | markdownify}}</h2>
        </div>
        <div class="brand-carousel swiper-container">
          <div class="swiper-wrapper">
            {{range .brand_images}}
            {{ if fileExists (add `assets/` .) }}
            <div class="swiper-slide">
              <div class="brand-item">
                {{$img:= resources.Get . }}
                {{$img_width := $img.Width }}

                {{$img_orginal := add (add (string $img_width) "x") " " }}
                {{$img_src := ($img.Resize $img_orginal).RelPermalink }}

                {{$imgWebp := add (add (string $img_width) "x") " webp" }}
                {{$imgWebp_src := ($img.Resize $imgWebp).RelPermalink }}
                <img loading="lazy" decoding="async" class="img-fluid" width="{{$img_width}}" height="{{$img.Height}}" src="{{$imgWebp_src}}" alt="Brand Image" onerror="this.onerror=null;this.src='{{$img_src}}'">
              </div>
            </div>
            {{end}}
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}

{{end}}
