{{ define "main" }}

<section class="section pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 text-center mb-5" data-aos="fade-in">
        {{ partial "images/image" (dict "Src" .Params.image "Alt" .Title) }}
      </div>
      <div class="col-lg-12 text-center" data-aos="fade-in" data-aos-delay="100">
        <h1>{{.Title}} <br> <small>Data Breach in {{.PublishDate.Format "Jan 06, 2006"}}</small></h1>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="content">
          {{.Content}}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="call-to-action has-bg-color overflow-hidden">
  <div class="container-xxl position-relative">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="section-title text-center mb-0" data-aos="fade-up">
                <h2 class="title underline-none">Detect & Prevent Data Breaches in Real Time With Breachsense</h2>
                <p class="mb-5">Protect your organization and staff from data breaches using Breachsense. Breachsense monitors the dark web for potential data breaches, allowing you to prevent cyber attacks in real time.</p>
    
                <a class="btn btn-primary" href="/">Learn More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="has-circle has-bg-anim" data-aos="fade-in"></div>
      </div>
    </div>
  </div>
</section>

{{ end }}
