{{ $yearMonths := slice }}
{{ $years := slice }}
{{ range $i, $data := (site.GetPage "breaches").Pages.GroupByPublishDate "January 2006" }}

  {{ range first 1 .Pages }}
    {{ if .Params.yearmonths }}
      {{ $years = $years | append (.PublishDate | time.Format "2006" | lower) }}
      {{ $yearMonths = $yearMonths | append (.PublishDate | time.Format "2006/January" | lower) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $years := $years | uniq }}
<div class="col-lg-4 breaches-sidebar" id="sidebarContent">
  <div class="months">
    {{ range $i, $ele := $years }}
      {{ $year := . }}
      {{ $filteredMonths := slice }}

      {{/* Show Year */}}
      <div class="year">{{ . }}</div>

      {{ range $key, $data := $yearMonths }}
        {{ if strings.Contains . $year }}
          {{ $filteredMonths = $filteredMonths | append . }}
        {{ end }}
      {{ end }}
      <ul>
        {{/* Show Current Looped Year Related Months */}}
        {{- $filteredMonthsReversed := partial "reverse-slice.html" $filteredMonths -}}
        {{ $shortFormat := site.Params.sidebar_breaches.month_short_format }}
        {{ $monthMap := dict "January" "Jan" "February" "Feb" "March" "Mar" "April" "Apr" "May" "May" "June" "Jun" "July" "Jul" "August" "Aug" "September" "Sep" "October" "Oct" "November" "Nov" "December" "Dec" }}

        {{ range $filteredMonthsReversed }}
        {{ $month := index (split . "/") 1 }}

        {{ if $shortFormat }}
          {{ $month = index $monthMap ($month | title) }}
        {{ end }}

          <li>
            <a href="/breaches/{{ . }}">{{ $month }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
  <button class="breaches-sidebar-close-btn">
    <i class="las la-times"></i>
  </button>
</div>