{{ $yearMonths := slice }}
{{ $years := slice }}
{{ range $i, $data := (site.GetPage "breaches").Pages.GroupByPublishDate "January 2006" }}

  {{ range first 1 .Pages }}
    {{ if .Params.yearmonths }}
      {{ $years = $years | append (.PublishDate | time.Format "2006" | lower) }}
      {{ $yearMonths = $yearMonths | append (.PublishDate | time.Format "2006/January" | lower) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $years := $years | uniq }}
<div class="months">
  {{ range $i, $ele := $years }}
    {{ $year := . }}
    {{ $filteredMonths := slice }}

    {{/* Show Year */}}
    <div class="year">{{ . }}</div>

    {{ range $key, $data := $yearMonths }}
      {{ if strings.Contains . $year }}
        {{ $filteredMonths = $filteredMonths | append . }}
      {{ end }}
    {{ end }}
    <ul>
      {{/* Show Current Looped Year Related Months */}}
      {{- $filteredMonthsReversed := partial "reverse-slice.html" $filteredMonths -}}
      {{ range $filteredMonthsReversed }}
        <li>
          <a href="/breaches/{{ . }}">{{ index (split . "/") 1 }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</div>