{{ define "main" }}

{{ partial "components/page-header.html" . }}

<section class="section-sm">
  <div class="container-xxl">
    <div class="row align-items-start">
      {{ partial "components/breaches-filter.html" }}

      <div class="col-lg-8">
        {{ $year := index (split .Title "/") 0 }}
        {{ $month := index (split .Title "/") 1 }}
        
        <h2 class="mb-5 text-center">Data Breaches - {{ $month }} {{ $year }} </h2>
        <div class="row">
          {{ range .Data.Pages }}
            <div class="col-md-6 col-lg-6">
            {{ .Render "article" }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
